@use '_variables.scss' as var;

.signup {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.form-sidebar {
  flex: 1;
  footer {
    text-align: center;
    margin: auto;
    position: absolute;
    left: 0;
    bottom: 0; 
  }
}

.logo-bar {
  position: relative;
  left: 0;
  right: 0;
  padding: clamp(.5rem, 1vw, 2rem);
  margin-top: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(.5rem, 1vw, 2rem);
  img {
    flex: none;
    width: 20%;
  }
  h1 {
    font-size: clamp(2rem, 5vw,5.5rem);
  }
  
}

.form-body {
  flex: 2;
  display: flex;
  gap: var.$margin-form;
  flex-direction: column;
  justify-content: center;
  > p,
  > button {
    margin: 0 var.$margin-form;
  }
}

.form-section {
  padding: var.$margin-form;
  > p {
    font-size: .8rem;
    opacity: .8;
    position: relative;
    top: 1rem;
    width: 38%;
  }
}

form {
  div {
    display: flex;
    gap: 4rem;
    margin-top: 1rem;
  }
  div:last-child { 
    margin-bottom: .3rem;
    p {
    color: var.$color-input-invalid-strong;
    visibility: hidden;
    position: absolute;
    font-size: .8rem;
    }
  }
}

input {
  display: block;
}

button {
  padding: .5em 1.5em;
  width: fit-content;
}