@use '_variables.scss' as var;

.signup {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.form-sidebar {
  flex: 1;
}

.logo-bar {
  position: relative;
  left: 0;
  right: 0;
  padding: 1rem;
  margin-top: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  img {
    width: 20%;
  }
}

.form-body {
  flex: 2;
  display: flex;
  gap: var.$margin-form;
  flex-direction: column;
  justify-content: center;
  > p,
  > button {
    margin: 0 var.$margin-form;
  }
}

.form-section {
  padding: var.$margin-form;
  > p {
    font-size: .8rem;
    opacity: .8;
    position: relative;
    top: 1rem;
    width: 38%;
  }
}

form {
  div {
    display: flex;
    gap: 4rem;
    margin-top: 1rem;
  }
}

input {
  display: block;
}

button {
  padding: .5em 1.5em;
  width: fit-content;
}