@use '_variables.scss' as var;

.form-sidebar {
  background: url(../forest-bg.jpg);
}

.logo-bar {
  background-color: #6d623f80;
  h1 {
    font: 5.5rem 'credit_valley';
    font-weight: bold;
    letter-spacing: .2rem;
    color: var.$color-text-header; 
  }
}

.important {
  background-color: var.$color-text-highlight;
  color: var.$color-body-bg;
  padding: 1rem;
  font-size: .9rem;
}

.highlight {
  color: var.$color-text-highlight;
}

.form-body {
  background-color: var.$color-body-bg;
}

.form-section {
  background-color: var.$color-text-highlight;
}

input {
  font-size: 1rem;
  padding: .25em .5em;
  border: 1px solid black;
  border-radius: .5em;
  background-color: var.$color-highlight-light;
  &:required {
    border-width: 2px;
  }
  &:focus:invalid {
    background-color: var.$color-input-invalid;
    border-color: var.$color-input-invalid-strong;
    outline: 2px solid black;
  }
  &:disabled {
    border-color: var.$color-disabled-border;
    background-color: var.$color-disabled;
  }
}

button {
  font: 1.5rem 'credit_valley';
  font-weight: bold;
  letter-spacing: .1rem;
  border: 2px solid var.$color-text-highlight;
  border-radius: .2em;
  background-color: var.$color-text-highlight;
  transition: 
    background-color .2s,
    color .2s,
    border-color .2s;
  &:hover {
    cursor: pointer;
    background-color: var.$color-body-bg;
    color: var.$color-text-highlight;
  }
  &:active {
    transition: all 0s;
    border-color: var.$color-input-invalid-strong;
    color: var.$color-input-invalid-strong;
    background-color: black;
    outline: 4px solid black;
  }
}

label {
  font-size: .8rem;
}

